@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Potta+One&family=Roboto:wght@100&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Potta One', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

nav {
    background-color: rgb(175, 180, 173);
    padding: 12px 3px;
}

ul {
    display: flex;
    margin: 0 23px;
    align-items: center;
}

ul li {
    list-style: none;
    margin: 0 13px;
}

table{
    border: 2px solid black;
}


        .style1 {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 5rem;
            height: 5rem;
            background-color: transparent;
            border: none;
            cursor: pointer;

        }

        .style1::-webkit-color-swatch {
            border-radius: .5rem;
            border: none;
        }

        .style1::-moz-color-swatch {
            border-radius: .5rem;
            border: none;
        }
